@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}
#icon{
    font-size: 1.5rem;
    display: inline-block;
    background-image: url("resource/logo.png");
    /* background-color: red; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    height:3rem;
    width:3rem;
}
header{
    background-color: green;
    /* max-height:10vh; */
    width:100%;
    color:yellow;
    padding:1rem;
    font-size: large;
}
header>h2{
    margin-left:1rem;
    display: inline-block;
    
}
section{
    height:90vh;
    width:100%;
}
#nav{
    display: flex;
    background-color: red;
    width:100%;
    height:fit-content;
    align-items: center;
    justify-content: space-around;
}
.status{
    border: 2px solid black;
    width:33.3%;
    padding:1rem;
    cursor:pointer;
}
.status>h3{
    text-align: center;
}
.status:hover{
    background-color: aqua;
}
#displayList{
    height: fit-content;
    width:100%;
    background-color: grey;
}
.displays:nth-child(2),.displays:nth-child(3){
    display: none;
}
.displays{
    height:100%;
    background-color: aquamarine;
}
.listItem{
    border:1px solid black;
    padding:0.5rem 1rem;
    cursor:pointer;
    display: flex;
    justify-content: space-between;
}
.listItem:hover{
    background-color: antiquewhite;
}
.close{
    padding:.3rem 0.5rem;
    border-radius: 50%;
    cursor: pointer;
}
.close:hover{
    background-color: red;
}
#addBtn{
    padding:0.5rem 1rem;
    position: fixed;
    bottom:1rem;
    right:1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color:white;
    background-color: navy;
    width:fit-content;
    border-radius: 35%;
}
#addBtn:hover{
    background-color: orangered;
}
#screen{
    background-color: aqua;
    height: 100vh;
    position: absolute;
    top: 0;
    left:0;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
#formContainer{
    height:fit-content;
    border-radius: 0.3rem;
    max-width:50vw;
    background-color: white;
    padding:1rem;
}
#formContainer>div:first-child{
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
}
label,select{
    display: block;
}
select,input[type="text"]{
    padding:0.2rem 0.4rem;
    border-radius: 0.3rem;
    border:1px solid grey;
    margin:0.5rem 0rem;
}
input[type="reset"],input[type="submit"]{
    padding:0.2rem 0.4rem;
    border:2px solid black;
    border-radius: 0.3rem;
    color:wheat;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 3px black;
    box-shadow: 2px 2px 8px 1px #c9c9c9,-2px -2px 8px 1px #c9c9c9;
    margin:0.5rem 0;
    cursor: pointer;
}
input[type="submit"]{
    background-color: greenyellow;
}
input[type="reset"]{
    background-color: red;
}
#form>div{
    display: flex;
    width:100%;
    justify-content: space-around;
}
.error{
    background-color: red;
    color:white;
    font-weight: bold;
    padding:0.2rem 0.5rem;
    border-radius: 3px;
    font-size: 0.8rem;
    display: none;
}